## https://github.com/vladbabii/klipper.macro.g28_override
##
## 0 - not homed
## 1 - homed

[force_move]
enable_force_move: True
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.

######################################################################
# Configure homing overrides
######################################################################
[gcode_macro _HOMING_CONFIG]
variable_order: ["x", "y", "z"]
variable_zhop: 10
gcode:
  # This macro is just a container for the 'order' and 'zhop' variables.
  #
  # order: The order in which axis wll be homed
  # zhop: The distance to lift the toolhead before homing.

[gcode_macro HOMING_STATUS]
variable_x: 0
variable_y: 0
variable_z: 0
gcode:
  {action_respond_info("Homing status: 0=not homed, 1=homed")}
  {% for i in printer['gcode_macro _HOMING_CONFIG'].order %}
    {action_respond_info(" {}: {}".format(i|upper, printer['gcode_macro HOMING_STATUS'][i]))}
  {% endfor %}


[gcode_macro FORCE_HOME]
gcode:
  {action_respond_info("Force homing all...")}
  {% for i in printer['gcode_macro _HOMING_CONFIG'].order %}
    SET_KINEMATIC_POSITION CLEAR={i|upper}
  {% endfor %}

  G28

[gcode_macro _HOMING_NOW]
variable_x: 0
variable_y: 0
variable_z: 0
gcode:
  # This macro is just a container for the x, y, and z variables. A value of
  # '1' indicates that that axis is currently being homed.


[gcode_macro G28]
rename_existing: G28.1
gcode:

  {% set axis = printer['gcode_macro _HOMING_CONFIG'].order %}
  {% if params|length == 1 %}
    # No parameters specified - home all un-homed
    {% for i in axis if printer['gcode_macro HOMING_STATUS'][i]|int!=1 %}
        SET_GCODE_VARIABLE MACRO=_HOMING_NOW VARIABLE={i} VALUE=1
    {% endfor %}
  {% else %}
    # Mark the axis to be homed in the correct order
    {% for i in axis %}
      {% if i|upper in params and printer['gcode_macro HOMING_STATUS'][i]|int!=1 %}
        SET_GCODE_VARIABLE MACRO=_HOMING_NOW VARIABLE={i} VALUE=1
      {% else %}
        SET_GCODE_VARIABLE MACRO=_HOMING_NOW VARIABLE={i} VALUE=0
      {% endif %}
    {% endfor %}
  {% endif %}

  _DO_HOME


[gcode_macro _DO_HOME]
gcode:

  {% set axis = printer['gcode_macro _HOMING_CONFIG'].order %}
  # Check if we need to perform a z-hop

  {% for i in axis if printer['gcode_macro _HOMING_NOW'][i]|int==1 %}
    {% if loop.first %}
      # z-hop first.
      {action_respond_info("Home > Moving up {} mm before homing".format(printer['gcode_macro _HOMING_CONFIG'].zhop))}
      _DO_ZHOP
    {% endif %}
    {action_respond_info("Homing > {}...".format(i|upper))}
    G28.1 {i|upper}
    SET_GCODE_VARIABLE MACRO=HOMING_STATUS VARIABLE={i} VALUE=1
    SET_GCODE_VARIABLE MACRO=_HOMING_NOW VARIABLE={i} VALUE=0

    {% if i|upper == "Z" %}
      _DO_ZHOP ; Always lift toolhead after homing Z
    {% endif %}
  {% else %}
    {action_respond_info("All axis already homed!")}
  {% endfor %}


[gcode_macro _DO_ZHOP]
gcode:
  {% if printer['gcode_macro _HOMING_CONFIG'].zhop is not defined or printer['gcode_macro _HOMING_CONFIG'].zhop|int<=0 %}
    RESPOND PREFIX="error" MSG="Home > 'zhop' configuration parameter must be defined!"
    M112
  {% else %}
    {% for i in printer['gcode_macro _HOMING_CONFIG'].order %}
      {% if printer['gcode_macro HOMING_STATUS'][i]|int==0 %}
        # Set an arbitrary position so that we are not prevented from moving the
        # gantry up because one or more axis are currently unhomed.
        SET_KINEMATIC_POSITION {i|upper}=1
      {% endif %}
    {% endfor %}
    G91
    G0 Z{printer['gcode_macro _HOMING_CONFIG'].zhop|int}
    G90
  {% endif %}