######################################################################
# Improved M84 turns off individual axis and remembers homing status.
#
# WARNING: disabling individual axis does not currently clear Klipper's 'homing status'!!! We need
# https://github.com/Klipper3d/klipper/pull/6262 to be merged to be able to add that feature.
#
# Source: https://github.com/strayr/strayr-k-macros/blob/main/M84.cfg
######################################################################
[gcode_macro M84]
description: Can disable a subset of steppers, M84 X Y E leaves Z enabled. M84 XY (no spaces) is invalid and disables all steppers.
rename_existing: M84.1
gcode:
    {action_respond_info("Disabling steppers and marking as not homed...")}
    {% set axis = ["X", "Y", "Z", "E"] %}
    {% for i in axis if i in params %}
      {% if i == "E" %}
        # Disable extruder
        SET_STEPPER_ENABLE stepper=extruder enable=0
        {action_respond_info("Extruder turned off")}
      {% else %}
        # Disable stepper
        SET_STEPPER_ENABLE stepper=stepper_{i|lower} enable=0
        SET_KINEMATIC_POSITION CLEAR={i}
        {action_respond_info("Stepper {} turned off".format(i))}
      {% endif %}
    {% else %}
      # No axis specified - disable all
      {% for i in axis|reject("eq", "E") %}
        SET_STEPPER_ENABLE stepper=stepper_{i|lower} enable=0
        SET_KINEMATIC_POSITION CLEAR={i}
      {% endfor %}

      SET_STEPPER_ENABLE stepper=extruder enable=0

      M84.1
      {action_respond_info("All steppers turned off")}
    {% endfor %}

[gcode_macro M18]
rename_existing: M18.1
gcode:
  # M18 is just an alias for M84. Call our overridden M84
  # just in case the implementation details of the standard
  # M18 changes in future.
  M84
