######################################################################
# Custom movements to position toolhead before a print starts, for
# cleaning, etc.
######################################################################
[gcode_macro _GO_READY]
description: Helper: move toolhead to the 'ready' position
gcode:
  ##### get user parameters or use default #####
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set ready_x  = client.ready_x|default(2.0) %}
  {% set ready_y  = client.ready_y|default(10.0) %}
  {% set ready_z  = client.ready_z|default(5.0) %}
  {% set sp_hop = client.speed_hop * 60 %}
  {% set sp_move = client.speed_move * 60 %}

  G28 X0 Y0 Z0 ; Home any un-homed axis
  G90 ; use absolute coordinates
  G1 X{ready_x} Y{ready_y} F{sp_move}
  G1 Z{ready_z} F{sp_hop}
  {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %}


[gcode_macro _GO_CLEAN]
description: Helper: move toolhead to the 'cleaning' position
gcode:
  ##### get user parameters or use default #####
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set sp_hop = client.speed_hop * 60 %}
  {% set clean_z_pos = [[client.wait_z_min_pos, printer.gcode_move.gcode_position.z + printer['gcode_macro _HOMING_CONFIG'].start_zhop|default(10)]|max, printer.toolhead.axis_maximum.z]|min %}

  {% if 'xyz' in printer.toolhead.homed_axes %}
    G90 ; use absolute coordinates
    G1 Z{clean_z_pos} F{sp_hop}
    {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %}
  {% else %}
    RESPOND TYPE=echo MSG='Printer not homed'
  {% endif %}

[gcode_macro _GO_PARK]
description: Helper: move toolhead to the 'parked' position
gcode:
    ##### get user parameters or use default #####
  {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
  {% set park_x  = client.custom_park_x|default(228.0) %}
  {% set park_y  = client.custom_park_y|default(202.0) %}
  {% set park_z  = [[client.wait_z_min_pos, printer.gcode_move.gcode_position.z + printer['gcode_macro _HOMING_CONFIG'].start_zhop|default(10)]|max, printer.toolhead.axis_maximum.z]|min %}
  {% set sp_hop = client.speed_hop * 60 %}
  {% set sp_move = client.speed_move * 60 %}

  G28 X0 Y0 Z0 ; Home any un-homed axis
  G90 ; use absolute coordinates
  G1 X{park_x} Y{park_y} F{sp_move}
  G1 Z{park_z} F{sp_hop}
  {% if not printer.gcode_move.absolute_coordinates %} G91 {% endif %}
