######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT]
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
    # Skew calibration based on https://vector3d.co.uk/product/calilantern/
    SKEW_PROFILE LOAD=calilantern_skew_profile

    # Make sure paused state is fresh for each print
    # https://www.klipper3d.org/G-Codes.html?h=resume#clear_pause
    CLEAR_PAUSE

    # Start heaters
    {% set BED_TEMP = params.BED_TEMP|default(85)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(240)|float %}
    M140 S{BED_TEMP}  ; set final bed temp
    M104 S{EXTRUDER_TEMP} ; set final nozzle temp

    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0

    G90 ; use absolute coordinates
    M83 ; extruder relative mode

    G28 X0 Y0 Z  ; Home X and Y if un-homed. Always home Z to prevent crashing into bed.

    M190 S{BED_TEMP} ; wait for bed temp and shape to stabilise
    BED_MESH_CALIBRATE PROFILE=adaptive ADAPTIVE=1

    M109 S{EXTRUDER_TEMP} ; wait for nozzle temp to stabilise

    # NOTE: We prime the nozzle in the slicer instead so that we can see the priming lines relative to the print. See
    #       Printers -> Custom G-Code -> Start G-code in PrusaSlicer.
    # _PRIME_NOZZLE

[gcode_macro END_PRINT]
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE']|default({}) %}
    # Relative XYZE
    G91

    # Retract filament, move Z slightly upwards
    G1 Z+25 E-5 F4500

    M140 S0 ; turn off heatbed
    M104 S0 ; turn off temperature
    M107 ; turn off fan

    # Absolute XYZE
    G90

    # Present print
    G0 X{client.custom_park_x} Y{client.custom_park_y} F1500

    # Disable all steppers except Z
    M84 X Y E

    SET_SKEW CLEAR=1


######################################################################
# Pause Print
######################################################################
# M601: Pause Print. Wrapper around Klipper's 'PAUSE' command. Useful
# for use with PrusaSlicer's 'Add pause print' at a specific layer
# height feature.

[gcode_macro M601]
gcode:
    PAUSE
