[include client_variables.cfg]
[include mainsail.cfg]
[include macro_power_management.cfg]
[include idle_timeout.cfg]
[include macro_m117_override.cfg]
[include macro_g28_override.cfg]
[include macro_m84_override.cfg]
[include macro_custom_positions.cfg]
[include macro_print_management.cfg]
[include macro_filament_management.cfg]
[include macro_mechanical_level_tmc2209.cfg]
[include macro_misc.cfg]

# This file contains common pin mappings for the BIGTREETECH SKR 1.4.
# To use this config, the firmware should be compiled for the
# LPC1768 with a "Target board uses Smoothieware bootloader" and
# "Use USB for communication" enabled.

# The "make flash" command does not work on the SKR 1.4. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# 1.4 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 64
rotation_distance: 40
endstop_pin: P1.29
position_endstop: 0
position_min: 0
position_max: 252
homing_speed: 75
second_homing_speed: 25

# 42-34 JK42HS34-0844YA-01 - 0.84A 5.75Ohm 9.3mH
# https://ecksteinimg.de/Datasheet/Schrittmotor/JK42HS34-0844A/JK42HS34-0844YA-01.pdf
[tmc2209 stepper_x]
uart_pin: P1.10
# https://www.klipper3d.org/TMC_Drivers.html?h=stealthchop_threshold#tmc-interpolate-setting-introduces-small-position-deviation
interpolate: False
# Use simulation model at https://www.analog.com/en/products/tmc2209.html#documentation for these values in combination
# with https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
run_current: 0.612
driver_HSTRT: 0
driver_HEND: 1

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 64
rotation_distance: 40
endstop_pin: P1.28
position_endstop: 0
position_min: 0
position_max: 247
homing_speed: 75
second_homing_speed: 25

# 42-40 JK42HS40-1004AC - 1A 3.9Ohm 8.9mH
# https://ecksteinimg.de/Datasheet/Schrittmotor/JK42HS40-1004A/JK42HS40-1004AC.pdf
[tmc2209 stepper_y]
uart_pin: P1.9
# https://www.klipper3d.org/TMC_Drivers.html?h=stealthchop_threshold#tmc-interpolate-setting-introduces-small-position-deviation
interpolate: False
# Use simulation model at https://www.analog.com/en/products/tmc2209.html#documentation for these values in combination
# with https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
run_current: 0.735
driver_HSTRT: 0
driver_HEND: 1


[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 64
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop    # enable to use BLTouch
position_min: -0.5                      # allow moving below nominal position of the bed during calibration
position_max: 230

# 42-34 JK42HS34-0844YA-01 - 0.84A 5.75Ohm 9.3mH
# https://ecksteinimg.de/Datasheet/Schrittmotor/JK42HS34-0844A/JK42HS34-0844YA-01.pdf
[tmc2209 stepper_z]
uart_pin: P1.8
# https://www.klipper3d.org/TMC_Drivers.html?h=stealthchop_threshold#tmc-interpolate-setting-introduces-small-position-deviation
interpolate: False
# Use simulation model at https://www.analog.com/en/products/tmc2209.html#documentation for these values in combination
# with https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
run_current: 0.612
driver_HSTRT: 0
driver_HEND: 1


[stepper_z1]
step_pin: P1.15
dir_pin: !P1.14
enable_pin: !P1.16
microsteps: 64
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop    # enable to use BLTouch

# 42-34 JK42HS34-0844YA-01 - 0.84A 5.75Ohm 9.3mH
# https://ecksteinimg.de/Datasheet/Schrittmotor/JK42HS34-0844A/JK42HS34-0844YA-01.pdf
[tmc2209 stepper_z1]
uart_pin: P1.1
# https://www.klipper3d.org/TMC_Drivers.html?h=stealthchop_threshold#tmc-interpolate-setting-introduces-small-position-deviation
interpolate: False
# Use simulation model at https://www.analog.com/en/products/tmc2209.html#documentation for these values in combination
# with https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
run_current: 0.612
driver_HSTRT: 0
driver_HEND: 1


[bltouch]                             # enable for BLTouch - fast-mode
sensor_pin: ^P0.10  # Pull-up (^ symbol) needed in open drain mode
control_pin: P2.0
# probe_with_touch_mode: True
x_offset: -61
y_offset: -24


[safe_z_home]                         # enable for BLTouch
home_xy_position: 89, 56
speed: 180
z_hop_speed: 12


[bed_mesh]                            # enable for BLTouch
speed: 300
mesh_min: 2, 7
mesh_max: 189, 221
probe_count: 6,6
horizontal_move_z: 5


[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
microsteps: 16  # 'CS' fro this stepper in TMC simulation model is low - cannot increase microsteps above 16.
full_steps_per_rotation: 200
gear_ratio: 50:17
rotation_distance: 21.284
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
min_temp: 0
max_temp: 285
# ### NOTE: pressure_advance is configured by the _SET_FILAMENT macro - DO NOT EDIT HERE ###
# PLA
# pressure_advance: 0.0625
# PETG
# pressure_advance: 0.1

# 42-23 17HS4023 - 0.7A 4Ohm 3.2mH
# https://www.datasheetcafe.com/wp-content/uploads/2021/03/17HS4023.pdf
[tmc2209 extruder]
uart_pin: P1.4
# https://www.klipper3d.org/TMC_Drivers.html?h=stealthchop_threshold#tmc-interpolate-setting-introduces-small-position-deviation
interpolate: False
# Use simulation model at https://www.analog.com/en/products/tmc2209.html#documentation for these values in combination
# with https://github.com/MakerBogans/docs/wiki/TMC-Driver-Tuning
run_current: 0.520
driver_HSTRT: 6
driver_HEND: 3


[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
min_temp: 0
max_temp: 130

[heater_fan heatbreak_cooling_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0

[fan]
pin: P2.3


[gcode_arcs]


[input_shaper]
shaper_freq_x: 67.2
shaper_type_x: mzv
shaper_freq_y: 40.6
shaper_type_y: mzv


[mcu]
serial: /dev/ttyAMA0
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu


[adxl345]
cs_pin: rpi:None


[resonance_tester]
accel_chip: adxl345
probe_points:
 115, 112, 20


[skew_correction]

[exclude_object]


[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 4500
max_z_velocity: 40
max_z_accel: 400

[screws_tilt_adjust]
screw1: 89, 56
screw1_name: front left screw
screw2: 252, 56
screw2_name: front right screw
screw3: 252, 226
screw3_name: rear right screw
screw4: 89, 226
screw4_name: rear left screw
horizontal_move_z: 10
speed: 300
screw_thread: CW-M3

[z_tilt]
z_positions:
  89, 56
  252, 56
points:
  89, 56
  252, 56
speed: 300
retries: 2
retry_tolerance: 0.05


# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# pid_kp = 28.023
#*# pid_ki = 1.887
#*# pid_kd = 104.035
#*# control = pid
#*#
#*# [heater_bed]
#*# pid_kp = 75.156
#*# pid_ki = 2.160
#*# pid_kd = 653.856
#*# control = pid
#*#
#*# [bltouch]
#*# z_offset = 1.9
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.101960, -0.072585, -0.070710, -0.035710, -0.068210, -0.081960
#*# 	  0.021790, 0.058665, 0.095540, 0.079915, 0.079915, 0.018665
#*# 	  0.127415, 0.139290, 0.194290, 0.156165, 0.164290, 0.159290
#*# 	  0.136165, 0.173665, 0.212415, 0.160540, 0.162415, 0.136165
#*# 	  0.093665, 0.109290, 0.123040, 0.143665, 0.122415, 0.088040
#*# 	  0.036790, 0.008040, 0.019915, 0.035540, 0.028665, 0.001165
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 2.0
#*# max_x = 189.0
#*# min_y = 7.0
#*# max_y = 221.0
#*#
#*# [skew_correction calilantern_skew_profile]
#*# xy_skew = 0.007374942353901926
#*# xz_skew = -0.00409503887975017
#*# yz_skew = 0.005932902420279106
